.tagline-container {
  padding: 2rem;
  background-image: url("../../../assets/images/tagline.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.tagline-heading {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  color: var(--brand-color-green);
  font-weight: 700;
  margin-bottom: 2rem;
  span {
    color: var(--orange);
  }
}
.tagline-data {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tagline-description {
  height: 100%;
  width: 60%;
  line-height: 40px;
}
.tagline-image-container {
  padding:2.5rem;
  height:auto;
  transform: scale(0.7);
  width: fit-content;
  background:
  linear-gradient(to right, #AAF2EF94 20px, transparent 4px) 0 100%,
  linear-gradient(to left, #AAF2EF94 20px, transparent 4px) 100% 0,
  linear-gradient(to bottom, #AAF2EF94 20px, transparent 4px) 100% 0,
  linear-gradient(to top, #AAF2EF94 20px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 280px 280px;
}
.tagline-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  position: relative;
  flex-grow: 1;
}
video {
  height: 100%;
  width: 100%;
}
.tagling-knowmore-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.tagling-knowmore {
  height: 40px;
  width: 130px;
  color: white;
  border: 0px;
  border-radius: 10px;
  background-color: var(--brand-color-green);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  cursor: pointer;
}
.tagling-knowmore:hover {
  background-color: var(--brand-color-green-shade1);
}

.tagling-knowmore:focus {
  border: 0px;
}

@media (min-width: 1100px) {
  .tagline-container {
    width: 74vw;
    margin: 0 auto;
  }
}


@media (max-width: 900px) {
  .tagline-heading{
    text-align: center;
  }
  .tagline-description {
    width: 80%;
    text-align: left;
  }
  .tagline-data {
    align-items: flex-start;
    height: 70vh;
    flex-direction: column;
  }
  .tagling-knowmore-container {
    justify-content: flex-start;
  }
  .tagline-data {
    height: auto;
    align-items: center;
  }
  .tagline-image-container {
    transform: scale(1.1);
    margin-top: 2rem;
    padding: 1.5rem;
    background-size: 150px 150px;
  }
}

.tagline-video > span {
  position: absolute;
  width: 100px;
  margin-top: 6rem;
  color: var(--orange);
  font-weight: bold;
}