.tagline-container {
  padding: 2rem;
  background-image: url("../../../assets/images/tagline.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: auto;
  margin-top: 2rem;
}
.tagline-heading {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  color: var(--brand-color-green);
  font-weight: 700;
  margin-bottom: 2rem;
  span {
    color: var(--orange);
  }
}
.tagline-data {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tagline-description {
  height: 100%;
  width: 40%;
  line-height: 40px;
}
.tagline-image-container {
  height: 100%;
  width: 50%;
}
.tagline-image {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: contain; /* Ensure the whole image fits inside the container */
  z-index: 2;
  position: relative;
  flex-grow: 1;
}
video {
  height: 100%;
  width: 100%;
}
.tagline-image-bottomhighlighter {
  height: 150px;
  width: 270px;
  background-image: url("../../../assets/images/tagline_bottom.svg");
  transform: translate(-90px, -110px);
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center;
}
.tagline-image-tophighlighter {
  height: 180px;
  width: 180px;
  background-image: url("../../../assets/images/tagline_top.svg");
  transform: translate(550px, -570px);
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center;
}
.tagling-knowmore-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.tagling-knowmore {
  height: 40px;
  width: 130px;
  color: white;
  border: 0px;
  border-radius: 10px;
  background-color: var(--brand-color-green);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  cursor: pointer;
}
.tagling-knowmore:hover {
  background-color: var(--brand-color-green-shade1);
}

.tagling-knowmore:focus {
  border: 0px;
}

@media (min-width: 1100px) {
  .tagline-container {
    width: 74vw;
    margin: 0 auto;
  }
}

@media (max-width: 1440px) {
  .tagline-image-bottomhighlighter {
    width: 180px;
    height: 130px;
    transform: translate(-100px, -80px);
  }
  .tagline-image-tophighlighter {
    transform: translate(345px, -535px);
  }
}

@media (max-width: 1024px) {
  .tagline-image {
    height: 70%;
    width: 70%;
  }
  .tagline-image-bottomhighlighter {
    width: 170px;
    height: 170px;
    transform: translate(-40px, -170px);
  }
  .tagline-image-tophighlighter {
    transform: translate(212px, -451px)
  }
}

@media (max-width: 900px) {
  .tagline-description {
    width: 80%;
    text-align: left;
  }
  .tagline-data {
    align-items: flex-start;
    height: 70vh;
    flex-direction: column;
  }
  .tagling-knowmore-container {
    justify-content: flex-start;
  }
  .tagline-image {
    height: 400px;
    width: 60vw;
  }
  .tagline-image-bottomhighlighter {
    width: 150px;
    height: 100px;
    transform: translate(-110px, -100px);
  }
  .tagline-image-tophighlighter {
    transform: translate(350px, -550px);
  }
}

@media (max-width: 768px) {
  .tagline-image-bottomhighlighter {
    width: 170px;
    height: 170px;
    transform: translate(-30px, -190px);
  }
  .tagline-image-tophighlighter {
    transform: translate(280px, -523px)
  }
  .tagline-image {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 500px) {
  .tagline-image {
    width: 300px !important;
  }
  .tagline-image-bottomhighlighter {
    width: 170px;
    height: 170px;
    transform: translate(-30px, -220px);
  }
  .tagline-image-tophighlighter {
    transform: translate(177px, -492px)
  }
  .tagline-container {
    height: 120vh;
  }
}
@media (max-width: 400px) {
  .tagline-image {
    width: 100px;
  }
  .tagline-data {
    height: 80vh;
  }
}
.tagline-video > span {
  position: absolute;
  width: 100px;
  margin-top: 6rem;
  color: var(--orange);
  font-weight: bold;
}