.featured-product-container {
  text-align: center;
  padding: 20px;
  background-color: var(--background1);
  padding-bottom: 4rem;
}

.featured-title {
  color: #009688;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  span {
    color: var(--orange);
  }
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  gap: 1rem;
  padding: 3rem;
}

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding: 8px 0;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
}

.card-more {
  font-size: 12px;
  color: #009688;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card-more:hover {
  color: #00695c;
}

.featured-card img {
  height: 150px;
  object-fit: cover;
}

.card-division {
  text-align: center;
  font-size: 12px;
  color: #555;
  margin-top: 8px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 10rem;
}

.custom-prev {
  left: 0px;
}

.custom-next {
  right: 0px;
}

.product-division {
    width: 100%;
    text-align: start;
    div:first-child {
        color: gray;
    }
    div:nth-child(2) {
        font-weight: bold;
    }
}

/* Responsive Design */
@media (min-width: 1024px) {
  .carousel-container {
    width: 100%;
  }
  .card-title,
  .card-division {
    font-size: 13px;
  }
}
@media (max-width: 900px) {
  .carousel-container {
    padding: 1rem;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .carousel-container {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .carousel-container > .slick-slide {
    width: 50%; /* Show 2 cards at a time */
  }
}

@media (max-width: 576px) {
  .carousel-container {
    width: 100%;
  }
  .carousel-container > .slick-slide {
    max-width: 100%; /* Show 1 card at a time */
  }
  .card-title,
  .card-division {
    font-size: 12px;
  }
}
