.contact-form-container {
    max-width: 90%;
    margin: 30px auto;
    padding: 20px;
    background-color: #00a9b7;
    border-radius: 8px;
    text-align: center;
  }
  
  .form-heading {
    background-color: white;
    padding: 1rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(-60px);
    color: var(--orange);
    font-weight: 600;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    margin-top: -50px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    height: 120px;
  }
  
  .contact-form button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .contact-form button:hover {
    background-color: #e68900;
  }
  