.eventpagedata-description {
  padding: 3rem;
  line-height: 30px;
}
.event-division {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
  }
}
.event-line {
  padding: 0.01rem;
  width: 100%;
  background-color: rgb(187, 187, 187);
  flex: 2.8;
}
.about-us-section {
  padding: 20px;
  background-color: var(--brand-color-green-shade2);
}

.card-image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.card-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 10px;
  text-align: center;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #d9d9d9;
}
.ant-carousel .slick-arrow {
  font-size: 24px;
  color: orange;
}

.ant-carousel .slick-prev {
  left: -40px;
}

.ant-carousel .slick-next {
  right: -40px;
}

.ant-card {
  transition: transform 0.3s;
}

.ant-card:hover {
  transform: translateY(-5px);
}

.slick-prev,
.slick-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 18px !important;
  color: var(--orange) !important;
  background: white !important; /* Orange background */
  border-radius: 50%;
  display: flex !important;
  opacity: 1 !important;
  transform: scale(1.2) !important;
  text-align: center;
  padding: 10.5px !important;
  border: 3px solid var(--orange) !important;
}
.slick-prev {
  left: -50px;
  margin-left: 3rem !important;
}
.slick-next {
  right: -50px;
  margin-right: 3rem !important;
}

.slick-prev:hover,
.slick-next:hover {
  background: var(--orange);
  color: white !important;
  background: var(--orange) !important; /* Orange background */
}
.slick-arrow::before {
  display: none;
}
.slick-prev::after {
  margin-left: 4.2px !important;
  margin-top: 2.7px !important;
}
.slick-next::after {
  margin-left: 1px !important;
  margin-top: 2.4px !important;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  gap: 1rem;
  padding: 3rem;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding: 8px 0;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
}

.card-more {
  font-size: 12px;
  color: #009688;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card-more:hover {
  color: #00695c;
}

.event-card img {
  height: 550px;
  object-fit: cover;
}

.card-division {
  text-align: center;
  font-size: 12px;
  color: #555;
  margin-top: 8px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 10rem;
}

.custom-prev {
  left: 0px;
}

.custom-next {
  right: 0px;
}

.event-division {
  width: 100%;
  text-align: start;
  div:first-child {
    color: gray;
  }
  div:nth-child(2) {
    font-weight: bold;
  }
}

/* Responsive Design */
@media (min-width: 1024px) {
  .carousel-container {
    width: 100%;
  }
  .card-title,
  .card-division {
    font-size: 13px;
  }
}
@media (max-width: 900px) {
  .carousel-container {
    padding: 1rem;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .carousel-container {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .carousel-container > .slick-slide {
    width: 50%; /* Show 2 cards at a time */
  }
}

@media (max-width: 576px) {
  .carousel-container {
    width: 100%;
  }
  .carousel-container > .slick-slide {
    max-width: 100%; /* Show 1 card at a time */
  }
  .card-title,
  .card-division {
    font-size: 12px;
  }
}
